<launch>

    <param name="robot_description"
        command="$(find xacro)/xacro '$(find sam_description)/urdf/docking_station.urdf.xacro'"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen">
        <param name="robot_description" value="docking_station/robot_description"/>
    </node>

</launch>
